[sshd]
backend  = systemd
mode     = aggressive
enabled  = {{ fail2ban__sshd_enabled }}
port     = {{ fail2ban__sshd_port }}
findtime = {{ fail2ban__sshd_findtime }}
maxretry = {{ fail2ban__sshd_maxretry }}
bantime  = {{ fail2ban__sshd_bantime }}
